BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
ReflowComments: true
SortIncludes: true
IncludeBlocks: Regroup
NamespaceIndentation: None
PointerAlignment: Left
